################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DETechAssessment-cjx/FileContentIndex
*.wsuo
/.vs
/.ipynb_checkpoints